@model ProjeA.Models.Information

@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="TR">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@Model.Name -  | MYVISIT - Yeni Nesil Dijital Kartvizit</title>
    <!-- Bootstrap CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="icon" href="https://xlori.com/assets/img/favicon.png">
    <link rel="stylesheet" href="https://xlori.com/app/assets/css/custom.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.2/dist/sweetalert2.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />

    <style>
        .modal-container {
            max-width: 500px;
            padding: 0;
            margin: 20px 0;
            border-radius: .3em;
            box-shadow: 0 0.1em 0.4em rgba(0,0,0,.3);
        }

        .languages {
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: flex-end;
            height: 100%;
            margin-top: 50px;
            color: #fff;
        }

            .languages img {
                width: 30px;
                padding: 0px 5px;
            }

            .languages .list {
                position: absolute;
                background: #000;
                transition: 300ms;
                text-align: center;
                border-radius: 7px;
                transform: translate(0px, -20px);
                opacity: 0;
                visibility: hidden;
                z-index: 99;
                width: 120px;
                top: calc(100% - -1px);
                right: 12px;
            }

                .languages .list ul {
                    padding: 0;
                    list-style: none;
                }

        .list ul li {
            display: flex;
            justify-content: space-between;
            height: 30px;
            padding: 6px;
        }

        .languages:Hover .list {
            opacity: 1;
            visibility: visible;
            transform: translate(0, 0);
            box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.3);
        }

        .languages .active {
            align-items: center;
            display: flex;
            color: #111;
            font-size: 14px;
        }

        .languages a {
            color: #c5c5c5;
            text-decoration: none;
        }

        .languages .active:hover .list {
            display: block;
        }

        .languages .active span {
            display: flex;
            align-items: center;
            padding: 10px;
            color: #111;
        }

            .languages .active span i {
                padding: 7px;
            }

        a.lang {
            color: #c7d0d1;
            font-size: 17px;
            text-decoration: none;
            background: #000;
            padding: 4px 20px;
            display: flex;
            align-items: center;
            border-radius: 7px;
            box-shadow: 2px 4px 4px 0px #848181;
        }
    </style>
</head>
<body class="bg-dark">
    
        <div class="row my-1">
            <div class="col-12">
                <div class="card border-0 bg-transparent pb-0">
                    <div class="card-body  pb-0">
                        <div class="row">
                            @if (Model.Photo != null)
                            {
                                <div class="col-12 text-center">
                                    <img class="profile" src="~/LogoDepo/@Model.Photo" alt="" width="90" height="90" style="border-radius: 50%;object-fit: cover;">

                                </div>
                            }

                            <div class="col-12 mt-2 text-center">
                                <h5 class="card-title text-white"><b>@Model.Name</b><b> @Model.Surname</b></h5>
                                <p class="text-light">@Model.Company<br /></p>
                                <p class="text-light">@Model.Title</p>
                                <button class="btn btn-primary px-5" style="font-size: 14px" type="button" data-bs-toggle="modal" data-bs-target="#linkShare">
                                    <i data-feather="share-2" stroke-width="2" width="18"></i>  Paylaş
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    
    <div class="container px-4 pb-3">

        <div class="row justify-content-center">
        </div>

        @*<hr class="divider mb-3" style="background-color: #d6d6d6">*@
        @*<div class="col-12 my-1">

                <a href="https://xlori.com/vcard_create.php?userCode=2LIzVO" class="link-item">
                    <div class="card border-0 px-1 py-0 box-shadow-4 card-item-full  bg-secondary" style=" box-shadow: 6px 10px 25px 0 rgba(0,0,0,0.19),0 6px 20px 0 rgba(0,0,0,0.19) !important;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3 ">
                                    <img src="https://xlori.com/assets/img/contacts.png"
                                         class="box-shadow-4 card-item-image" alt="" width="60">
                                </div>
                                <div class="col-9 px-3">
                                    <p class="mb-0 text-white" style="font-size: 18px"><b>Rehbere Ekle</b></p>
                                    <p class="text-light mb-0" style="font-size: 14px">İndirilen vCard ile beni kolayca rehberinize ekleyebilirsiniz!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>*@
        @*<hr class="divider mb-3" style="background-color: #d6d6d6">*@
        <div class="row row-cols-3 row-cols-md-3 g-4 my-2">
            @if (Model.Adress != null)
            {
                <div class="col">
                    <a data-bs-toggle="modal" data-bs-target="#adresbilgi" class="link-item">
                        <div class="card border-0 px-2 py-2 box-shadow-4 card-item bg-secondary">
                            <div class="card-body text-center">
                                <img src="https://xlori.com/upload/widgets/12.png"
                                     class="box-shadow-4 card-item-image" alt="" width="45">
                                <div class="mt-1 px-2 text-center card-item-title text-white">
                                    <p style="font-size: 12px;font-weight: bolder;margin-bottom: 0">Adress</p>
                                    <p style="font-size: 11px"></p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
            @if (Model.Email != null)
            {
                <div class="col">
                    <a target="_blank" href="mailto:@Model.Email" class="link-item">
                        <div class="card border-0 px-2 py-2 box-shadow-4 card-item bg-secondary">
                            <div class="card-body text-center">
                                <img src="https://xlori.com/upload/widgets/10.png"
                                     class="box-shadow-4 card-item-image" alt="" width="45">
                                <div class="mt-1 px-2 text-center card-item-title text-white">
                                    <p style="font-size: 12px;font-weight: bolder;margin-bottom: 0">Email</p>
                                    <p style="font-size: 11px"></p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }



            @if (Model.Number != null)
            {
                <div class="col">
                    <a href="@Model.Number"  target="_blank" class="link-item" onclick="callNumber(this)">
                        <div class="card border-0 px-2 py-2 box-shadow-4 card-item bg-secondary">
                            <div class="card-body text-center">
                                <img src="https://xlori.com/upload/widgets/11.png"
                                     class="box-shadow-4 card-item-image" alt="" width="45">
                                <div class="mt-1 px-2 text-center card-item-title text-white">
                                    <p style="font-size: 12px;font-weight: bolder;margin-bottom: 0">Ara</p>
                                    <p style="font-size: 11px"></p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
            @if (Model.Facebook != null)
            {
                <div class="col">
                    <a target="_blank" href="@Model.Facebook" class="link-item">
                        <div class="card border-0 px-2 py-2 box-shadow-4 card-item bg-secondary">
                            <div class="card-body text-center">
                                <img src="https://xlori.com/upload/widgets/9.png"
                                     class="box-shadow-4 card-item-image" alt="" width="45">
                                <div class="mt-1 px-2 text-center card-item-title text-white">
                                    <p style="font-size: 12px;font-weight: bolder;margin-bottom: 0">Facebook</p>
                                    <p style="font-size: 11px"></p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
            @if (Model.Instagram != null)
            {
                <div class="col">
                    <a target="_blank" href="@Model.Instagram" class="link-item">
                        <div class="card border-0 px-2 py-2 box-shadow-4 card-item bg-secondary">
                            <div class="card-body text-center">
                                <img src="https://xlori.com/upload/widgets/13.png"
                                     class="box-shadow-4 card-item-image" alt="" width="45">
                                <div class="mt-1 px-2 text-center card-item-title text-white">
                                    <p style="font-size: 12px;font-weight: bolder;margin-bottom: 0">Instagram</p>
                                    <p style="font-size: 11px"></p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
            @if (Model.Tiktok != null)
            {
                <div class="col">
                    <a href="@Model.Tiktok" target="_blank" class="link-item">
                        <div class="card border-0 px-2 py-2 box-shadow-4 card-item bg-secondary">
                            <div class="card-body text-center">
                                <img src="https://xlori.com/upload/widgets/19.png"
                                     class="box-shadow-4 card-item-image" alt="" width="45">
                                <div class="mt-1 px-2 text-center card-item-title text-white">
                                    <p style="font-size: 12px;font-weight: bolder;margin-bottom: 0">TikTok </p>
                                    <p style="font-size: 11px"></p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
            @if (Model.LinkedIn != null)
            {
                <div class="col">
                    <a href="@Model.LinkedIn" target="_blank" class="link-item">
                        <div class="card border-0 px-2 py-2 box-shadow-4 card-item bg-secondary">
                            <div class="card-body text-center">
                                <img src="https://xlori.com/upload/widgets/20.png"
                                     class="box-shadow-4 card-item-image" alt="" width="45">
                                <div class="mt-1 px-2 text-center card-item-title text-white">
                                    <p style="font-size: 12px;font-weight: bolder;margin-bottom: 0">LinkedIn</p>
                                    <p style="font-size: 11px"></p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
            @if (Model.WebSite != null)
            {
                <div class="col">
                    <a href="@Model.WebSite" target="_blank" class="link-item">
                        <div class="card border-0 px-2 py-2 box-shadow-4 card-item bg-secondary">
                            <div class="card-body text-center">
                                <img src="https://xlori.com/upload/widgets/17.png"
                                     class="box-shadow-4 card-item-image" alt="" width="45">
                                <div class="mt-1 px-2 text-center card-item-title text-white">
                                    <p style="font-size: 12px;font-weight: bolder;margin-bottom: 0">Web Site</p>
                                    <p style="font-size: 11px"></p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
            <div class="col">

                    <a data-bs-toggle="modal" data-bs-target="#qrcodeModal" class="link-item">
                        <div class="card border-0 px-2 py-2 box-shadow-4 card-item bg-secondary">
                            <div class="card-body text-center">
                                <img src="https://xlori.com/app/assets/theme1-light/img/qrcode.png"
                                     class="box-shadow-4 card-item-image" alt="" width="45">
                                <div class="mt-1 px-2 text-center card-item-title text-white">
                                    <p style="font-size: 12px;font-weight: bolder;margin-bottom: 0">QR Kod</p>
                                    <p style="font-size: 11px"></p>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
            

        </div>
        <div class="row py-5">
            <div class="col-lg-12 text-center">
                <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#bankabilgi">Banka Bilgileri</button>
            </div>
        </div>

        <div class="row pt-4">
            <div class="col-lg-12 text-center">
                <p style="font-size: 13px; color:white;">2022 Copyright &copy; <a href="https://www.myvisit.com">MyVisit</a><br /><a href="https://www.myvisit.com">Sizde MyVisit Sahibi Olmak İsterseniz Tıklayın!</a></p>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="linkShare" tabindex="-1" aria-labelledby="linkShareLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content bg-secondary">
                <div class="modal-header">
                    <h5 class="modal-title text-white" id="exampleModalLabel">Linki Paylaş</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card card-body mb-2" id="linkInfo" style="font-size: 12px">
                        @ViewBag.Link
                    </div>
                    <button class="btn btn-sm btn-dark copyLink" id="copyLink"
                            onclick="return copy_data(linkInfo,'#copyLink')">
                        Kopyala
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="adresbilgi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-secondary">
                <div class="modal-header">
                    <h5 class="modal-title text-white" id="exampleModalLabel">Adres Bilgisi</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-light">
                    <div class="row">


                        <div class="col-lg-12 my-1 mb-3">
                            <div class="card card-body border-primary bg-secondary">

                                <p class="font-weight-bolder" id="linkInfoA">@Model.Adress</p>
                                <button class="btn btn-primary btn-xs" id="copyLinkA" onclick="return copy_data(linkInfoA,'#copyLinkA')">Adres Kopyala</button>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="bankabilgi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-secondary">
                <div class="modal-header">
                    <h5 class="modal-title text-white" id="exampleModalLabel">Banka Bilgileri</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-light">
                    <div class="row">


                        <div class="col-lg-12 my-1 mb-3">
                            <div class="card card-body border-primary bg-secondary">

                                <p class="font-weight-bolder" id="copyIban0">@Model.Iban</p>
                                <button class="btn btn-primary btn-xs" id="copyIbanBtn0" onclick="return copy_data(copyIban0,'#copyIbanBtn0')">IBAN Kopyala</button>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="qrcodeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-secondary">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">QR Kod</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="qrcode" class="text-center"><img src="~/LogoDepo/@Model.QrCode" width="130" height="130" /></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <div id="widgetDetailModal"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <!--<script src="--><!--"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
    <script src="https://xlori.com/app/assets/js/jquery.qrcode.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.2/dist/sweetalert2.all.min.js"></script>
    <script src="https://xlori.com/assets/common/js/ajaxProcess.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
        feather.replace()
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            // $('#summernote').summernote();
            // $('.note-editor .note-toolbar, .note-popover .popover-content').remove();
        });
        function copy_data(containerid, btnId) {
            var range = document.createRange();
            range.selectNode(containerid); //changed here
            window.getSelection().removeAllRanges();
            window.getSelection().addRange(range);
            document.execCommand("copy");
            window.getSelection().removeAllRanges();
            alert("Kopyalandı");

        }
        function createQrCode({ link = null }) {
            $('div#qrcode canvas').remove();
            $('div#qrcode').qrcode({ width: 300, height: 300, text: link });
            $('#qrcodeModal').modal('show');
        }
        function StripTags(input) {
            var array = [];
            var inside = false;

            for (i = 0; i < input.length; i++) {
                var let = input.charAt(i);
                if (let == '<') {
                    inside = true;
                    continue;
                }
                if (let == '>') {
                    inside = false;
                    continue;
                }
                if (!inside)
                    array.push(let);
            }
            return array.join('');
        }

        function callNumber(element) {
            // Öncelikle 'href' değerini alın
            var number = element.getAttribute('href');

            // Tarama işlemini gerçekleştirin
            window.open('tel:' + number, '_blank');
        }

            // var clipboard = new ClipboardJS('.copyText');
            // clipboard.on('success', function(e) {
            //     console.info('Action:', e.action);
            //     console.info('Text:',StripTags(e.text));
            //     console.info('Trigger:', e.trigger);
            //
            //     e.clearSelection();
            // });
            //
            // clipboard.on('error', function(e) {
            //     console.error('Action:', e.action);
            //     console.error('Trigger:', e.trigger);
            // });
    </script>
</body>
</html>
